name: System info API test
run-name: ${{ github.actor }} tests ☁️
on:
  push:
    branches:
      - main
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node
        run: 
          apk add --update nodejs
      - name: Install npm
        run:
          apk add --update npm
      - name: Install dependencies
        run:
          npm ci
      - name: Build app
        run:
          npm run build
      - name: Run app tests
        run:
          npm run test
